.commonImages {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(6, 1fr);
    .poster {
        margin: 1rem;
        max-width: 200px;
        min-height: 300px;
        box-shadow: 0 0 10px black;
    }
}

@media (max-width: 1200px) {
    .commonImages {
        grid-template-columns: repeat(5, 1fr);
        .poster {
            max-width: 220px;
            min-height: 240px;
        }
    }
}

@media (max-width: 1024px) {
    .commonImages {
        grid-template-columns: repeat(5, 1fr);
        .poster {
            max-width: 180px;
            min-height: 200px;
        }
    }
}

@media (max-width:900px){
    .commonImages{
        .poster{
            max-width: 160px;
            min-height: 180px;
        }
    }
}

@media (max-width: 768px) {
    .commonImages {
        grid-template-columns: repeat(5, 1fr);
        .poster {
            max-width: 130px;
            min-height: 150px;
        }
    }
}

@media (max-width: 600px) {
    .commonImages {
        grid-template-columns: repeat(4, 1fr);
        .poster {
            max-width: 130px;
            min-height: 150px;
        }
    }
}

@media (max-width: 480px) {
    .commonImages {
        margin-top: 1rem;
        grid-template-columns: repeat(4, 1fr);
        .poster {
            max-width: 100px;
            min-height: 120px;
        }
    }
}

@media (max-width: 360px) {
    .commonImages {
        margin-top: 5rem;
        grid-template-columns: repeat(3, 1fr);
    }
}
